html {
    background-color: #424242;
    font-size: 15pt;
    font-family: sans-serif;
    color: #ffffee;
}

body {
    margin: 0px;
}

.fixed {
    padding: 0.3em;
    position: sticky;
    z-index: 9999;
    background-color: #404040;
}

.top {
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px 0px;
}

.bottom {
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px 0px;

}

.short {
    width: 3em;
}

#projselect {
    position: absolute;
    right: 0;
}

#stepList {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

#stepList > li {
    width: 2em;
    line-height: 2em;
    text-align: center;
    margin: .25em;
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    font-size: 30pt;
}

#stepList > li > span {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100em;
    background-color: #e06060;
    font-weight: bold;
}

#stepList > li > span.marked {
    border-radius: .5em;
}

#stepList > li > span.done {
    background-color: #007700;
}

#stepList > li > span.goal {
    box-shadow: 0 0 .5em .25em #ff0;
}
